<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discovery City</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="container">
<!-- Header page -->
    <header>  
        <div class="logo"> <img id="logo" src="../static/discover(1).png" alt="logo">
            <p id="text_logo">Discovery City</p>
        </div>
<!--        <div class="authorization">
            <a class="link" href="#">
                <p id="sign_in1">Sign In</p>
            </a>
-->
        </div>
    </header>

<!--Search panel-->
    <div class="search">
        <div class="search-input">
            <h1 id="txt-search">Hotels and more</h2> <!--<br>-->
            <span>From</span><input type="date">
            <span>To</span><input type="date">
            <button><img src="../static/loupe.png" alt="loupe-img" id="loupe_img"></button>
        </div>        
    </div>


<!-- Main and more-->
    <main>
        <div class="layout_main">
            <div class="box_content_1">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">1 
            </div>
            <div class="box_content_2">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">2
            </div>
            <div class="box_content_3">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">3
            </div>
            <div class="box_content_4">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">4
            </div>
            <div class="box_content_5">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">5
            </div>
            <div class="box_content_6">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">6
            </div>
            <div class="box_content_7">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">7
            </div>
            <div class="box_content_8">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">8
            </div>
            <div class="box_content_9">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">9
            </div>
            <div class="box_content_10">
                <img src="../static/pool-outdoor.jpg" alt="photo-order">10
            </div>

        </div>
    </main>


<!--Filter-->
    <aside class="filter">
        <p>filter</p>
    </aside>


<!--Place for advertising-->
    <aside class="advertising">
        <p>ads</p>
    </aside>

<!-- Footer page-->
    <footer class="contact">
        <p>&copy; 2023 Discovery City. All rights reserved(Not yet &#128517; ).</p>
    </footer>











</body>
</html>
